body {
    display: flex;
    }
    
    .photo {
    width: 110px;
    height: 110px;
    }
    
    .button {
    border: 2px;
    font-size: 128px;
    margin: 30px;
    }
    
    #no {
    color: rgb(209, 50, 50);
    text-decoration: none;
    border: 2px solid rgb(202, 38, 38);
    }
    
    #yes {
    color: rgb(19, 149, 224);
    text-decoration: none;
    border: 2px solid rgb(9, 0, 128);
    }
    
    #noyes {
    color: rgb(231, 138, 31);
    text-decoration: none;
    border: 2px solid rgb(116, 71, 4);
    }
    
    #no:hover {
    color: rgb(112, 42, 179);
    text-decoration: none;
    border: 2px solid rgb(238, 44, 238);
    background-color: rgb(152, 160, 226);
    }
    
    #yes:hover {
    color: rgb(110, 226, 43);
    text-decoration: none;
    border: 2px solid rgb(28, 107, 52);
    background-color: rgb(154, 177, 187);
    }
    
    #noyes:hover {
    color: rgb(190, 209, 120);
    text-decoration: none;
    border: 2px solid rgb(164, 199, 6);
    background-color: rgb(189, 142, 13);
    }